$bold: 600;
$font-s: 32px;
$font-l: 42px;
$spacing-xs: 12px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 48px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-field {
  width: 600px;
}

.flex {
  display: flex;

  .MuiTypography-p {
    margin: $spacing-small;
  }
}

.MuiBox-root .cards-grid {
  margin: 0 100px;
}

h1.MuiTypography-h1 {
  font-size: $font-l;
  font-weight: $bold;
}

h4.MuiTypography-h2 {
  font-size: $font-s;
  font-weight: $bold;
}

[type="submit"].button {
  height: 40px;
  margin: 0 $spacing-xs;
}

.container.MuiBox-root {
  margin: $spacing-m;
}

.form-box {
  display: inline-block;
  align-items: center;
  margin: 0;
}

.repo-card {
  box-shadow: 3px 3px 8px;
}

.MuiBox-root.card-description {
  min-height: 72px;
  margin: $spacing-l 0 0 $spacing-m;
  text-align: left;
}

.details-container {
  margin-left: $spacing-s;
}