.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-field {
  width: 600px;
}

.flex {
  display: flex;
}

.MuiBox-root .cards-grid {
  margin: 0 100px;
}

h1.MuiTypography-h1 {
  font-size: 42px;
  font-weight: 600;
}

h4.MuiTypography-h2 {
  font-size: 32px;
  font-weight: 600;
}

[type="submit"].button {
  height: 40px;
  margin: 0 12px;
}

.container.MuiBox-root {
  margin: 32px;
}

.form-box {
  display: inline-block;
  align-items: center;
  margin: 0;
}
